*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #23272E;
  color: #D5E0F4;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 100%;
  display: grid;
  place-items: center;
}

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body main .main_content {
  display: grid;
  position: absolute;
  left: 0;
  top: 27%;
  width: 100%;
  padding: 0 20px;
  place-items: center;
  text-align: center;
}

body main .logo {
  font-size: 9em;
  cursor: default;
  margin-top: 0;
}
body main .logo #wifi {
  color: #7CF15F;
}

body main .content {
  text-align: center;
  font-size: 1.88rem;
  position: relative;
  top: -20px;
}

body main .content h2 {
  position: relative;
  top: 27px;
  font-size: 20px;
  font-weight: 400px;
  margin: 7px 0;
}
body main .content h2 > a {
  text-decoration: none;
  margin: 0 4px;
  color: #7CF15F;
}
body main .content h2 > a:hover {
  color: #D5E0F4;
  transition: all 0.3s ease-out;
}

.btn {
  top: 10px;
  position: relative;
  background: #7CF15F;
  color: #23272E;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 12px;
  letter-spacing: 0.08em;
  font-size: 24px;
  font-weight: 800;
}

.btn:hover {
  color: #59AE45;
  background: #D5E0F4;
  transition-duration: 0.3s;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 42.5%;
  }
}
