*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #23272E;
  color: #D5E0F4;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 100%;
  display: grid;
  place-items: center;
}

#main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body main .main_content {
  display: grid;
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  padding: 0 20px;
  place-items: center;
  height: 100vh;
  text-align: center;
}

body main .logo {
  font-size: 9em;
  cursor: default;
  margin-top: 0;
}
body main .logo #wifi {
  color: #7CF15F;
}

body main .content {
  text-align: center;
  font-size: 1.88rem;
  position: relative;
}

body main .content h2 {
  font-weight: normal;
  margin: 7px 0;
}
body main .content h2 > a {
  text-decoration: none;
  margin: 0 4px;
  color: #61A4F1;
}
body main .content h2 > a:hover {
  color: #E25252;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 42.5%;
  }
}
